<div class="container">
<h1 class = "myHeader">Cook Systems EmployeePortal</h1>
<div class="myForm myCenter">
<a href="#/login" class="btn btn-primary" style="width: 200px;margin: 10px" ng-hide="show()">Login</a><br/>
<div ng-show="show()"><a href="#/login" class="btn btn-primary" style="width: 200px;margin: 10px" ng-click="logout()">Logout</a><br/></div>
<div ng-show="showAdmin()"><a href="#/admin" class="btn btn-primary" style="width: 200px;margin: 10px">Admin</a><br/></div>
<a href="#/shane"class="btn btn-primary" style="width: 200px;margin: 10px">TimeSheet</a><br/>
<a href="#/profile" class="btn btn-primary" style="width: 200px;margin: 10px">Edit your Profile</a><br/>
<div ng-show="show()"><a href="#/history" class="btn btn-primary" style="width: 200px;margin: 10px">Submission History</a><br/></div>
<a href="#/blahau" class="btn btn-primary" style="width: 200px;margin: 10px">Weekly Updates</a><br/>
</div>
</div>